<!-- /snippets/ajax-cart-template.liquid -->
{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajax cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
{% if settings.enable_rtl_mode %}
<script id="CartTemplate" type="text/template">
  {% raw %}
    <form action="/cart" method="post" novalidate class="ajaxcart">
    	<div class="prod">
       <div class="product-cart">
        {{#items}} 
        <ol class="minicart_item list-unstyled mb-0 px-0">
            <li class="d-flex">
              <div class="thumb_img_cartmini">
                <a href="{{url}}" title="" class=""><img alt="{{name}}" src="{{img}}"></a>
              </div>
              <div class="product-detail">
                <h3 class="product_name_mini">
                  <a href="{{url}}">{{name}}
					 {{#if variation}}
                    - <span class="ajaxcart__product-meta">{{variation}}</span>
                  {{/if}}
                  {{#properties}}
                    {{#each this}}
                      {{#if this}}
                        - <span class="ajaxcart__product-meta">{{@key}}: {{this}}</span>
                      {{/if}}
                    {{/each}}
                  {{/properties}}  
  		
  					</a>
                 
                  
                </h3>
                <div class="product_info">
                  <div class="product_quanity">QTY : {{itemQty}} </div>
                  <div class="product_price">
                    <span class="price_sale">{{{price}}}</span>
                  </div>
                </div>
              </div>
              <div class="produc_remove">
               <a href="javascript:void(0)" class="remove-product" data-line="{{line}}"><i class="fa fa-trash-o"></i></a>              
              </div>
            </li>
          </ol>
          {{/items}} 
       </div>
       </div>
      	<div class="sub-total">
            <span class="total-price float-right">{{{totalPrice}}}</span>
            <span class="total-title float-left">{% endraw %}{{ 'minicart.general.total_price' | t }}{% raw %}</span>
    	</div>
      <div class="action-checkout">
        <a href="/cart" class="button-viewcart">
          <span>{% endraw %}{{ 'minicart.general.view_cart' | t }}{% raw %}</span>
        </a>
      </div>
     </form> 
  {% endraw %}
  </script>
{% else %}
<script id="CartTemplate" type="text/template">
  {% raw %}
    <form action="/cart" method="post" novalidate class="ajaxcart">
    	<div class="prod">
       <div class="product-cart">
        {{#items}} 
        <ol class="minicart_item list-unstyled mb-0 px-0">
            <li class="d-flex">
              <div class="thumb_img_cartmini">
                <a href="{{url}}" title="" class=""><img alt="{{name}}" src="{{img}}"></a>
              </div>
              <div class="product-detail">
                <h3 class="product_name_mini">
                  <a href="{{url}}">{{name}}
					 {{#if variation}}
                    - <span class="ajaxcart__product-meta">{{variation}}</span>
                  {{/if}}
                  {{#properties}}
                    {{#each this}}
                      {{#if this}}
                        - <span class="ajaxcart__product-meta">{{@key}}: {{this}}</span>
                      {{/if}}
                    {{/each}}
                  {{/properties}}  
  		
  					</a>
                 
                  
                </h3>
                <div class="product_info">
                  <div class="product_quanity">QTY : {{itemQty}} </div>
                  <div class="product_price">
                    <span class="price_sale">{{{price}}}</span>
                  </div>
                </div>
              </div>
              <div class="produc_remove">
               <a href="javascript:void(0)" class="remove-product" data-line="{{line}}"><i class="fa fa-trash-o"></i></a>              
              </div>
            </li>
          </ol>
          {{/items}} 
       </div>
       </div>
                    <div class="alert alert-primary free-shipping-info" role="alert" data-shipping="300.00">
                       <span class="cus-icon"><i class="fa fa-info" aria-hidden="true"></i></span>
                       <p style="display:none">Congratulations you have unlocked <b>Free Delivery</b> in Dubai</p>
                        <div class="progress-line" style="display:none">Add <b>AED </b><span class="pending-amount"></span> to get Free Delivery in Dubai</div>                     
                      <a class="close-alert" href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 298.667 298.667" style="enable-background:new 0 0 298.667 298.667;" xml:space="preserve"> <g> <g> <polygon points="298.667,30.187 268.48,0 149.333,119.147 30.187,0 0,30.187 119.147,149.333 0,268.48 30.187,298.667     149.333,179.52 268.48,298.667 298.667,268.48 179.52,149.333   "></polygon> </g> </g> </svg></a>
      </div> 
      	<div class="sub-total">
            <span class="total-title float-left">{% endraw %}{{ 'minicart.general.total_price' | t }}{% raw %}</span>
            <span class="total-price float-right">{{{totalPrice}}}</span>
    	</div>
      <div class="action-checkout">
        <a href="/cart" class="button-viewcart">
          <span>{% endraw %}{{ 'minicart.general.view_cart' | t }}{% raw %}</span>
        </a>
      </div>
     </form> 
  {% endraw %}
  </script>
{% endif %}


  <script id="AjaxQty" type="text/template">
  {% raw %}
    <div class="ajaxcart__qty">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{id}}" data-qty="{{itemMinus}}">
        <span class="fa fa-minus" aria-hidden="true"></span>
      </button>
      <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{id}}" data-qty="{{itemAdd}}">
        <span class="fa fa-plus"></span>
      </button>
    </div>
  {% endraw %}
  </script>
  <script id="JsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="qty_minus js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="{{id}}" data-qty="{{itemMinus}}">
        <span class="fa fa-caret-down"></span>
      </button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <button type="button" class="qty_plus js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="{{id}}" data-qty="{{itemAdd}}">
        <span class="fa fa-caret-up"></span>
      </button>
    </div>
  {% endraw %}
  </script>

<style>
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  width: 100%;
  margin: 0 auto 25px;
  display: flex;
  align-items: center;
}
.js-minicart .alert.alert-primary.free-shipping-info.ajax-free-shipping {
    position: absolute;
    bottom: 130px;
    margin: 0 auto 0;
    justify-content: center;
    width: 90%;
    left: 0;
    right: 0;
}
span.cus-icon {
    background-color: #0063d2;
    width: 40px;
    height: 40px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}
.alert.alert-primary .progress-line {
    width: calc(100% - 40px);
    margin: 0;
    text-align: left;
}
span.cus-icon i {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100px;
    color: #0063d2;
    line-height: 30px;
    font-size: 18px;
  text-align:center;
}
    span.pending-amount {
    font-weight: bold;
    font-size: 16px;
}
.freeship span.cus-icon {
    background-color: #36b55a;
}
    .freeship span.cus-icon i:before {
    content: '\f00c';
}
    .freeship span.cus-icon i {
    color: #36b55a;
}
    .alert-primary p {
    width: calc(100% - 40px);
    margin: 0;
          text-align: left;
font-size: 16px;
    font-weight: 500;
    padding-top: 0;
}
    .alert.alert-primary.freeship {
    background-color: #eaf7ee;
    border-color: #d0e7d5;
}
    a.close-alert {
    font-size: 14px;
    position: absolute;
      right: 8px;
    top: 4px;
}
    a.close-alert svg {
    width: 12px;
    height: 12px;
}
</style>
