{{ 'custom_gallery.css' | asset_url | stylesheet_tag }}


<div class="main_images">
  <div class="container">
    <div class="heading">
      <h2>{{ section.settings.headings | escape }}</h2>
      {% if section.settings.subtitle !=blank  %}
      <p>{{ section.settings.subtitle }}</p>
      {% endif %}

    </div>
    <div class="gallery">
      <ul class="grid">
        {% for block in section.blocks %}
          <li class="imagebox">
            <div class="img_width_text">
              {% if block.settings.image !=blank %}
              <div class="image_overlay_width_text">
                <img src="{{ block.settings.image | img_url:'master' }}" class="image">

                <div class="overlay_sub_text{% if block.settings.sub_content ==blank %} hover_text{% else %} overlay_text{% endif %}">
                  <h4>{{ block.settings.sub_content }}</h4>
                </div> 
              </div>
              {% endif %}
            </div>

            <div class="caption">
              <h2 class="Main_title{% if block.settings.heading !=blank %} h3{% endif %}">{{ block.settings.heading | escape }}</h2>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>

<style>
  
  .heading h2 {
    color:{{ section.settings.text_color }};
    font-weight:300;
  }
  
</style>

{% schema %}
  {
    "name": "Multiple Image",
    "settings": [
      {
		"type": "text",
		"id": "headings",
		"label": "Heading label"
      },
	  {
		"type": "textarea",
		"id": "subtitle",
		"label": "Sub Title"
      },
	  {
		"type": "color",
		"id": "text_color",
		"label": "Heading Color",
		"default": "#000000"
      }
	],
	"blocks": [
      {
		"type": "image",
		"name": "Image",
		"settings": [
          {
			"type": "image_picker",
			"id": "image",
			"label": "Image"
          },
		  {
			"type": "text",
			"id": "heading",
			"label": "Title label"
          },
		  {
			"type": "textarea",
			"id": "sub_content",
			"label": "Hover Text label"
          }
		]
      }
	],
	"presets":[ 
      {
		"name": "Multiple Image"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
